{% extends 'base.html' %}

{% block title %} SignIn {% endblock title %}

{% block body %}


{% load static %}
<div class="wrapper">
    <div class="logo d-flex justify-content-center">
        <img src="{% static '/images/twitter-bird.png' %}" alt="">
    </div>
    <div class="text-center p-5">
        <b>Admin Panel</b>
    </div>
    <form action="" method="post" class="px-3">
        {% csrf_token %}
        <div class="form-field d-flex">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="username" placeholder="Username" required> 
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="passWord" id="password" placeholder="Password" required>
        </div>
        <button class="btn mt-5 mb-3" type="submit">Sign In</button>
    </form>

    {% if messages %}
    <div class="alert alert-danger mt-2 text-center" role="alert">
        {% for e in messages %}
        {{ e }}
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endblock body %}